useDynLib(markophylo)

exportPattern(estimaterates, print.markophylo, plottree)

importFrom(Rcpp, evalCpp)
importFrom(stats,na.omit,qgamma,nlminb)
importFrom(ape,plot.phylo,is.binary.tree,is.rooted,reorder.phylo,read.tree,multi2di)
importFrom(phangorn,Ancestors,Descendants)
importFrom(stringr,str_split)
importFrom(numDeriv,hessian)
importFrom(utils,read.table)

S3method(print, markophylo)