useDynLib(markophylo)
exportPattern(estimaterates, print.markophylo, plottree)
importFrom(Rcpp, evalCpp)
importFrom(utils,compareVersion)
importFrom(utils,packageVersion)
importFrom(stats,na.omit)
importFrom(stats,qgamma)
importFrom(stats,nlminb)
S3method(print, markophylo)